<script src="scripts/index.js"></script>


<footer class="footer">
    <div class="content has-text-centered">
      <!--img src="/images/malphite.png" alt=""-->
      <div>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-discord"></i>
      </div>

      <p>© 2024 Malphite Music</p>
    </div>
  </footer>
</body>
</html>