<!DOCTYPE html>
<html lang="en">
<head class="h-full">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/output.css">
    <title>Malphite Music</title>
    <link rel="icon" href="/images/malphite2.png">
</head>
<body class="h-full">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/b7a009312d.js" crossorigin="anonymous"></script>
